
table{
  width:100%
}
.bg-primary, .bg-warning, .bg-danger, .bg-info{border:none; margin-right: 3px;}
.danger{background-color: rgb(241, 28, 28); color:white;margin-left: 3px;}
.fa-edit:before,  .fa-user:before, .fa-trash:before, .fa-eye:before{color: #fff;}
.btn{margin-right: 3px;}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
