<h1>display by {{displyby}}</h1>
<h3>need filter</h3>

<div *ngFor="let std of students">
  {{std.name}}
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> className </th>
      <td mat-cell *matCellDef="let element"> {{element.className}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> countryName </th>
      <td mat-cell *matCellDef="let element"> {{element.countryName}} </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container >
      <th mat-header-cell *matHeaderCellDef > delete </th>
      <td mat-cell *matCellDef="let element">
    <button class="bg-danger"> <i class="fas fa-trash" (click)="deleteuser(element.id)"></i>
    </button>
    <a routerLink="edit/{{element.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
    <button (click)="deleteuser(element.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="element.isDeleting">
        <span *ngIf="element.isDeleting" class="spinner-border spinner-border-sm"></span>
        <span *ngIf="!element.isDeleting">Delete</span>
    </button>
  </td>

  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>


</div>

https://jasonwatmore.com/post/2020/09/01/angular-master-details-crud-example
