<h1>display by {{displyby}}</h1>
<h3>need filter</h3>
<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">Role</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let studentClass of students">
            <td>{{ studentClass.name}} </td>
            <td>{{studentClass.dateOfBirth}}</td>
            <td style="white-space: nowrap">
                <a routerLink="../register:{{studentClass.name}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <a [routerLink]="['../register',studentClass.name]" class="btn btn-sm btn-primary mr-1">Edit2</a>
                <button (click)="delete(studentClass.name)" class="btn btn-sm btn-danger btn-delete-studentClass">Delete
                  <!-- [disabled]="studentClass.isDeleting"> -->
                    <!-- <span *ngIf="studentClass.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!studentClass.isDeleting">Delete</span> -->
                </button>
            </td>
        </tr>
        <tr *ngIf="!students">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="classesId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> classesId </th>
      <td mat-cell *matCellDef="let element"> {{element.classesId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="countriesId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> countriesId </th>
      <td mat-cell *matCellDef="let element"> {{element.countriesId}} </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> age </th>
      <td mat-cell *matCellDef="let element">{{ageCalculetor(element.dateOfBirth)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
