<img src="https://user-images.githubusercontent.com/7531596/149632779-72903cdc-984b-440b-9258-13b421a39aa7.png"
class="stack-img"  />
<div></div>

<div class="stack-img">
<button mat-raised-button color="primary" (click)="navigate('student')" class="mat-raised-button">Student</button>
<button mat-raised-button color="warn" (click)="navigate('admin')" class="mat-raised-button">Admin</button>

<h2 style="text-align: center;">Hi Dear Rihal,</h2>
thanks for viewing my task:
<br>
Techs used for stack are:
<ul>
  <li class="primary">
NX monorepo</li>
<li>
Angular + Material UI</li>
<li>
Nestjs + TypeOrm</li>
<li>
Posgres</li>
</ul>
</div>
