<div>

  <h2 class="alert alert-warning ">  <mat-icon >arrow_left</mat-icon>{{ currentTitle.text }}</h2>
</div>
<!-- TODO -->
<!-- this is my little sons first code :) -->
<!-- jnnj n m m   -->
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div fxLayout="row"  >
      <div >
        <div
        class="padding-10" class="example-card"
          *ngFor="
            let studentsummeryInfo of studentSummeryInfos$ | async; index as i">
          <rihal-student-summery-info
            [summery]="studentsummeryInfo"
          ></rihal-student-summery-info>
        </div>
      </div>
    </div>


  </mat-grid-tile>
    <mat-grid-tile [ngSwitch]="byCeriteria">
      <ngx-charts-pie-chart *ngSwitchCase="'ageAverage'"
      [results]="studentSummeryInfos$ | async"
      [scheme]="colorScheme">
    </ngx-charts-pie-chart>
    <ngx-charts-bar-vertical  *ngSwitchCase="'classes'"
    [results]="studentSummeryInfos$ | async"
    [xAxisLabel]="'students'"
    [yAxisLabel]="'count'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
  </ngx-charts-bar-vertical>
  <ngx-charts-bar-horizontal  *ngSwitchCase="'countries'"
  [results]="studentSummeryInfos$ | async"
  [xAxisLabel]="'students'"
  [yAxisLabel]="'count'"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [gradient]="true">
</ngx-charts-bar-horizontal>

  </mat-grid-tile>

</mat-grid-list>



<!-- [legendTitle]="'currentTitle'" -->
