<h1>{{currentTitle.text}}</h1>

<div *ngFor="let studentsummeryInfo of studentSummeryInfos$ | async; index as i">
<rihal-student-summery-info [summery]="studentsummeryInfo" ></rihal-student-summery-info>
</div>

  <ngx-charts-bar-vertical
    [view]="[600, 400]"
    [results]="studentSummeryInfos$ | async"
    [xAxisLabel]="'students'"

    [yAxisLabel]="'count'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true"
  >
  </ngx-charts-bar-vertical>
   <!-- [legendTitle]="'currentTitle'" -->
